.ui.vertical.masthead.center.aligned.segment
  .ui.text.container
    %h1.ui.header Welcome to the Kindom of DjTeo
    %p
      This is the DjTeo Website. Here you ken find a lot of musical succes of this immense artist.
    -# = link_to "Signup now!", signup_path, class: "ui huge primary button"
    = link_to signup_path do
      .ui.animated.huge.primary.button
        .visible.content Signup now!
        .hidden.content
          %i.right.sign.in.icon
    -# mostrare i post piu popolari. USARE il campo views dei micropost

.ui.three.column.divided.grid
  .row
    .column
      .thumbnail
        = image_tag("/images/")
        .caption
          - @micropost = Micropost.last
          %h3= @micropost.title
          %p
            = @micropost.content
          = link_to "Discover More", @micropost
    .column
      .thumbnail
        = image_tag("/images/")
        .caption
          %h3 Notte a Villafranca Marittima
          %p Verstappen, Ricciardo e Vettel ricordano DjTeo così...
          = link_to "Discover More", @micropost
    .column
      .thumbnail
        = image_tag("/images/")
        .caption
          %h3 Una notte al principato
          %p Verstappen, Ricciardo e Vettel ricordano DjTeo così...
          = link_to "Discover More", @micropost
  .row
    .column
      = link_to "All posts", microposts_path
