- provide(:title, "Log in")
.ui.middle.aligned.center.aligned.grid
  .column
    %h2.ui.teal.image.header
      .content Log In

    = form_for(:session, url: login_path, html: {class: "ui large form"}) do |f|
      .ui.stacked.segment
        .field
          .ui.left.icon.input
            %i.user.icon
            = f.email_field :email, placeholder: "email"
        .field
          .ui.left.icon.input
            %i.lock.icon
            = f.text_field :password, placeholder: "password"
        = f.submit 'Log in', class: "ui fluid large teal submit button"

    - if notice.present?
      .ui.error.message
        %p.alert.alert-danger=notice

    .ui.message
      Sei un nuovo utente?
      = link_to 'Signup', signup_path
