= form_for @user, html: {class: ""} do |f|
  - if @user.errors.any?
    .alert.alert-danger
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .input
    = f.label :name
    %br
    = f.text_field :name, class: "form-control"
  .input
    = f.label :email
    %br
    = f.text_field :email, class: "form-control"
  .input
    = f.label :password
    %br
    = f.password_field :password, class: "form-control"
  .input
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation, class: "form-control"
  .input
    = f.submit 'Submit', class: "btn btn-primary submit-button"
