%footer
  .ui.inverted.vertical.footer.segment
    .ui.container
      .ui.stackable.inverted.divided.equal.height.stackable.grid
        .three.wide.column
          %h4.ui.inverted.header About
          .ui.inverted.link.list
            = link_to 'Sitemap', root_path, class: 'item'
            = link_to 'Contact us', root_path, class: 'item'
            = link_to 'Dieu dieu', root_path, class: 'item'
            = link_to 'Saluta Andonio', root_path, class: 'item'
        .three.wide.column
          %h4.ui.inverted.header Bella raga
          .ui.inverted.link.list
            = link_to 'Si vola', root_path, class: 'item'
            = link_to 'Martin', root_path, class: 'item'
            = link_to 'Garrix', root_path, class: 'item'
            = link_to 'Animals', root_path, class: 'item'
        .seven.wide.column
          %h4.ui.inverted.header About
          .ui.inverted.link.list
            %p Dopo vado esco, esco con gli amici, vado all'iper... Questa è la giornata.
