%header
  %nav.navbar.navbar-default
    .container
      .navbar-header
        %a.navbar-brand
          = image_tag("/images/")
        %ul.nav.navbar-nav
          %li
            = link_to 'Home', root_path
          %li
            = link_to 'About', about_path
          %li
            = link_to 'Contact', contact_path
          %li
            = link_to 'Help', help_path
