%header
  .ui.secondary.pointing.menu
    = image_tag("/images/")
    = link_to 'Home', root_path, class: "item"
    = link_to 'About', about_path, class: "item"
    = link_to 'Contact', contact_path, class: "item"
    = link_to 'Help', help_path, class: "item"
    .right.menu
      - if logged_in?
        .browse.item
          .text
            = @current_user.name
          %i.dropdown.icon
        .ui.fluid.popup
          .ui.four.column.relaxed.equal.height.divided.grid
            .column
              %h4 Heading Level 4
              .ui.link.list
                .item
                  = link_to 'Your posts', microposts_path
                .item
                  = link_to 'Logout', logout_path, method: :delete
            .column
              %h4 Heading Level 4
              .ui.link.list
                .item
                  = link_to 'Your posts', microposts_path
                .item
                  = link_to 'Logout', logout_path, method: :delete
      - else
        = link_to 'Login', login_path, class: "ui item"
        -# {href: "#", class: "ui dropdown", data: {toggle: "dropdown"}}
