= form_for @micropost, html: {class: "ui large form"} do |f|
  - if @micropost.errors.any?
    .ui.error.message
      %h2
        = pluralize(@micropost.errors.count, "error")
        prohibited this micropost from being saved:
      %ul.list
        - @micropost.errors.full_messages.each do |message|
          %li= message
  .ui.stacked.segment
    .field
      = f.label :title
      = f.text_field :title
    .field
      = f.label :content
      = f.text_area :content
    .field
      = f.submit 'Create post', class: "ui teal button"
