= form_for(@micropost) do |f|
  - if @micropost.errors.any?
    #error_explanation
      %h2
        = pluralize(@micropost.errors.count, "error")
        prohibited this micropost from being saved:
      %ul
        - @micropost.errors.full_messages.each do |message|
          %li= message
  .input
    = f.label :title
    %br
    = f.text_field :title, class: "form-control"
  .input
    = f.label :content
    %br
    = f.text_area :content, class: "form-control"
  -# .field
  -#   = f.label :user_id
  -#   %br
  -#   = f.number_field :user_id
  .input
    = f.submit 'Create post', class: "btn btn-primary submit-button"
