-# %p#notice= notice
.container
  %h1 Microposts
  - @microposts.each do |micropost|
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = micropost.title
      .panel-body
        = micropost.content
      .panel-footer
        Author:
        = micropost.user.name
        - if logged_in? && micropost.user_id == current_user.id
          .control-button
            = link_to 'Show', micropost, class: "btn btn-xs btn-primary"
            = link_to 'Edit', edit_micropost_path(micropost), class: "btn btn-xs btn-success"
            = link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger"

  = link_to 'New Micropost', new_micropost_path
