.ui.stacked.three.special.cards
  - @microposts.each do |micropost|
    .card
      .blurring.dimmable.image
        .ui.inverted.dimmer
          .content
            .center
              = link_to 'Go', micropost, class: "ui huge teal button"
        = image_tag("https://semantic-ui.com/images/avatar/large/elliot.jpg")
      .content
        %span.header
          = micropost.title
        .meta
          = micropost.user.name
        .description
          %p= truncate(micropost.content, :length => 100)
      .extra.content
        .ui.label
          Created at:
          .detail
            = micropost.created_at.to_formatted_s(:short)

        - if logged_in? && micropost.user_id == current_user.id
          %span.align-right
            = link_to 'Show', micropost, class: "ui grey"
            |
            = link_to 'Edit', edit_micropost_path(micropost), class: "ui grey"
            |
            = link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui danger"

.margin-30
  = link_to 'New Micropost', new_micropost_path
