-# %p#notice= notice
.ui.text.container
  %h2.ui.center.aligned.icon.header
    %i.circular.users.icon
    = @micropost.user.name
.ui.stacked.teal.segments.posts
  .ui.segment
    %h3= @micropost.title
    %p= simple_format(@micropost.content)
    .ui.divider
    .ui.label
      Pubblicato il:
      .detail
        = @micropost.created_at.to_formatted_s(:short)

= link_to 'Edit', edit_micropost_path(@micropost)
|
\#{link_to 'Back', microposts_path}
